* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* NAVBAR  */
header {
  border-bottom: 1px solid rgb(226, 226, 226);
}
nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 95%;
  align-items: center;
  min-height: 15vh;
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}
.hamburger span {
  width: 22px;
}
span {
  border-top: 1px solid black;
}
.logo img {
  width: 55px;
  cursor: pointer;
}
.end {
  display: flex;
}
.search {
  padding-right: 1.1rem;
}
.search img,
.cart img {
  width: 25px;
  cursor: pointer;
}
/* HERO SECTION  */
.hero {
  display: flex;
  min-height: 85vh;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(194, 190, 191);
}
