* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header {
  border-bottom: 1px solid rgb(189, 189, 189);
}
nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 95%;
  align-items: center;
  min-height: 15vh;
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hamburger span {
  width: 22px;
}
span {
  border-top: 1px solid black;
}
.logo img {
  width: 55px;
}
.end {
  display: flex;
}
.search {
  padding-right: 1.1rem;
}
.search img,
.cart img {
  width: 25px;
}
